{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "singleQuote": false,
  "bracketSpacing": false,
  "plugins": [
    "prettier-plugin-solidity",
    "prettier-plugin-solidity-align-comments"
  ],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "solidityAlignColumn": -1
      }
    }
  ]
}

